body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #ede6e6;
    box-sizing: border-box;
    overflow-x: hidden;
}

.services-section {
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 80%;
}

.services-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #37599f;
    flex: 1 1 250px;
    box-sizing: border-box;
}

.services-section h3 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #9433a3;
    flex: 1 1 250px;
    box-sizing: border-box;
}

.services-section h4 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #369420;
    flex: 1 1 250px;
    box-sizing: border-box;
}

.service-card h5 {
    max-width: 90%;
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: rgb(145, 71, 159);
    flex: 1 1 250px;
    box-sizing: border-box;
}

.services-section h6 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #456c94;
    flex: 1 1 250px;
    box-sizing: border-box;
}

.services-section h7 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #3d783b;
    flex: 1 1 250px;
    box-sizing: border-box;
    text-align: left;
    padding: 1rem .75rem;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: flex;
    align-items: flex-end;
    /* Pushes it to the bottom */
    justify-content: center;
    height: 100vh;
    padding-bottom: 40px;
    /* optional spacing */
}



.service-card {
    max-width: 90%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card h3 {
    max-width: 90%;
    font-size: 1.5rem;
    color: #0077b6;
}

.service-card p {
    max-width: 90%;
    margin: 10px 0;
}